// $color-white: rgb(255, 255, 255);
$color-white: #DEDBE0;
$color-white-opacity: rgba(255, 255, 255, 0.6);
$color-black: rgb(0, 0, 0);

$color-black-opacity: rgba(0, 0, 0, 0.6);
// $color-purple: #6B12C7;
$color-purple: #56009A;
$color-purple-opacity: #CAAFE7;

