.menu {
    &_block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        width: 100%;
        background-color: $color-black-opacity;
    }
    &_close {
        display: none;
    }
    &_logo {
        height: 90px;
        margin: 5px 0;
    }
    &_list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    &_link {
        list-style-type: none;
        a {
            color: $color-white;
            font-size: 25px;
            font-weight: 500;
            margin-right: 70px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    &_overlay {
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: $color-black-opacity;
    }
}

.promo {
    position: relative;
    height: 100vh;
    background-color: $color-black;
    // background: center center / cover no-repeat;
    &_arrow {
        display: block;
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        margin: 30px auto 30px auto;
        &::before, &::after {
            content: '';
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-left: 9px dotted $color-white;
            border-bottom: 9px dotted $color-white;
            animation: arrow 3s linear infinite;
        }
        &::after {
            animation: arrow 3s linear infinite -1.5s;
        }
    }
    &_hamburger {
        display: none;
        z-index: 5;
        &_long {
            display: none;
        }
    }

    &_main {
        width: 1000px;
        display: block;
        margin: 0 auto;
        padding: 110px 0 0;
        &_title {
            color: $color-white;
            font-size: 64px;
            font-weight: 500;
            text-align: center;
            line-height: 70px;
            text-shadow: 3px 2px 3px $color-white-opacity;
        }
        &_subtitle {
            color: $color-white-opacity;
            font-size: 37px;
            font-weight: 300;
            text-align: center;
            margin-top: 80px;
            line-height: 40px;

        }
    }
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translate(0, -30px) rotate(-45deg);
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(0, 30px) rotate(-45deg);
    }
}

.services {
    background-color: $color-black;
    padding: 50px 0;
    &_wrapper {
        display: grid;
        grid-template: repeat(2, 300px) / repeat(3, 300px);
        grid-auto-rows: 300px;
        gap: 20px;
        justify-content: center;
        margin-top: 30px;
    }
    &_item {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: 3px solid $color-black-opacity;
        background-color: $color-white;
        &-img {
            display: block;
            margin: 0 auto;
            padding-top: 15px;
            height: 139px;

        }
        &-title {
            color: $color-black;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
            text-transform: uppercase;
        }
        &-btn {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 40px;
            background-color: $color-purple;
            border: none;
            border-radius: 9px;
            margin-top: 55px;
            color: $color-white;
            font-size: 15px;
            text-align: left;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 10px 0 10px;
            transition: 0.5s all;
            div {
                &::before {
                    content: '';
                    width: 13px;
                    height: 13px;
                    border-right: 3px solid $color-white;
                    border-bottom: 3px solid $color-white;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: rotate(-45deg) translateY(-50%);
                }
            }
            &:hover {
                background-color: $color-black;
            }
        }
    }
}

.portfolio {
    background-color: $color-black;
    padding: 50px 0;
    &_wrapper {
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        justify-content: center;
        padding-top: 20px;
    }
    &_item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.price {
    background-color: $color-black;
    padding: 50px 0;
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-top: 30px;
        &-title {
            color: $color-white;
            font-size: 20px;
            font-weight: 400;

        }
        &-subtitle {
            text-align: right;
            color: $color-white;
            font-size: 20px;
            font-weight: 400;
        }
        &-descr {
            grid-column: 1 / 3;
            color: $color-white;
            font-size: 16px;
            font-weight: 300;
        }
    }
    &_item {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &_list {
        position: relative;
        display: grid;
        grid-template: minmax(21px, auto) / repeat(2, auto);
        grid-auto-rows: minmax(21px, auto);
        margin-top: 10px;
        padding-left: 30px;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $color-purple;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }
}

.contacts {
    background-color: $color-black;
    padding: 50px 0;
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-top: 30px;
    }
    &_subtitle {
        color: $color-white;
        font-size: 32px;
        font-weight: 400;
    }
    &_social {
        margin-top: 30px;
    }
    &_link {
        margin-right: 35px;
        img {
            height: 60px;
            cursor: pointer;
        }
    }
    &_form {
        display: grid;
        grid-template: 50px 100px 50px / repeat(2, 260px);
        gap: 10px;
        margin-top: 20px;
    }
    &_input {
        input {
            width: 260px;
            height: 50px;

            border: 2px solid $color-purple;
            background: none;
            border-radius: 15px;
            padding: 10px;
            color: $color-white;
            font-size: 20px;
            font-weight: 500;
            &:focus {
                border: 2px solid $color-purple;
            }
            &:active {
                border: 2px solid $color-purple;
            }
        }
    }
    &_textarea {
        grid-column: 1 / 3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;

            border: 2px solid $color-purple;
            background: none;
            border-radius: 15px;
            padding: 10px;
            color: $color-white;
            font-size: 20px;
            font-weight: 500;
            &:focus {
                border: 2px solid $color-purple;
            }
            &:active {
                border: 2px solid $color-purple;
            }
        }
    }
    &_triggers {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        gap: 10px;
    }
    &_btn {
        width: 100%;
        height: 50px;
        border: 3px solid $color-purple;
        border-radius: 15px;
        background: none;

        color: $color-white;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 5px;
        cursor: pointer;
        &:hover {
            background-color: $color-purple;
        }
    }
    &_policy {
        input {
            accent-color: $color-purple;
            margin: 5px 10px 0 0;
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 15px;
            color: $color-white;
            a {
                color: $color-purple;
            }
        }
    }
}
